[submodule "Plugins/UnrealInterfaceObjectPlugin"]
	path = Plugins/UnrealInterfaceObjectPlugin
	url = git@github.com:code-iai/UnrealInterfaceObjectPlugin.git
[submodule "Plugins/URoboVision"]
	path = Plugins/URoboVision
	url = https://github.com/robcog-iai/URoboVision.git
[submodule "Plugins/UROSBridge"]
	path = Plugins/UROSBridge
	url = https://github.com/robcog-iai/UROSBridge.git
[submodule "Plugins/UUtils"]
	path = Plugins/UUtils
	url = https://github.com/robcog-iai/UUtils.git
[submodule "Plugins/UROSWorldControl"]
	path = Plugins/UROSWorldControl
	url = https://github.com/robcog-iai/UROSWorldControl.git
